html {
	scroll-behavior: smooth;
}

.req {
  color: red;
}

.btn {
	white-space: normal; !important
	max-width: 300px;
}

.anchor {
	display: block;
	position: relative;
	top: -45px; 
	visibility: hidden;
  }

.platinum-logo {
	max-width: 300px;
}

.tutorial-img {
	max-width: 150px;
}
